.cards-container {
    width: 70%;
    gap: 20px;
    margin: 70px auto;
    /* padding: 40px 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1 {
    padding: 10px 30px;
    height: 300px;
    border-radius: 15px 60px 15px 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#c2 {
    height: 350px;
}

.card1:hover {
    background-color: #5cd3f8;
    background: url("../resource/service-bg.webp") no-repeat center;
    background-size: cover;
}
