.contact{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px !important;
    height: 92vh;
    margin: 7% 0;
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    width: 65%;
    height: 100%;
    content: "";
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    background: linear-gradient(
        45deg,
        rgb(0, 158, 197) 0%,
        rgb(2, 34, 91) 20%,
        rgb(46, 126, 237) 100%
    );
}
.contact-heading{
    color: #fff;
    margin-top: -150px;
    margin-left: -190px;
}
.contact-heading h2{
    margin-bottom: 40px;
}
.contact-content{
    border-radius: 25px;
    padding: 80px;
    background-color: #2e7eed;
    position: relative;
    z-index: 1;
    margin-left: 550px;
}
.contact-content h1{
    text-align: center;
    color: #fff;
}
.contact-form{
    width: 85%;
}
.name > input::placeholder{
    color: #fff !important;
}
.email > input::placeholder{
    color: #fff !important;
}
.message > textarea::placeholder{
    color: #fff;
}
.name > input{
    border: none;
    background-color: rgba(249, 235, 255, 0.15);;
    border-radius: 25px;
    width: 95%;
    margin-bottom: 30px;
    font-size: 14px;
    outline: none;
    font-weight: 300;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 3;

}
.email > input{
    border: none;
    background-color: rgba(249, 235, 255, 0.15);;
    border-radius: 25px;
    width: 95%;
    margin-bottom: 30px;
    font-size: 14px;
    outline: none;
    font-weight: 300;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 3;
}
.message > textarea{
    width: 100%;
    height: 120px;
    border-radius: 25px;
    background-color: rgba(249, 235, 255, 0.15);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 20px;
    font-size: 14px;
    color: white;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
}
.hero-form button{
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 300;
    color: #2e7eed;
    background-color: #fff;
    padding: 15px 25px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    position: relative;
    z-index: 3;
}
.hero-form button:hover{
    background-color: rgba(213,229,251,1);
}