.landingPage-container {
    display: flex;
    flex-direction: column;
}
.hero-section{
    background-color: rgb(45, 45, 248);
    padding: 0 200px;
    height: 70vh;
}
.main-text{
    width: 100%;
}
.main-text h1,h3,p{
    width: 100%;
}
.text-image {
    display: flex;
    height: 450px;
}
.landingPage-img {
    width: 100%;
}
.landingPage-img img{
    width: inherit;
    height: inherit;
}
.text-image h1 {
    color: #fff;
    font-size: 45px;
    line-height: 61px;
    font-weight: 700;
    margin-bottom: -20px;
}
.text-image h3 {
    color: #fff;
    font-size: 1.5rem;
}
.text-image p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 37px;
}
.text-image button {
    color: #fff;
    background-color: #2e7eed;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.1rem;
    cursor: pointer;
}
.text-image button:hover {
    background-color: #343a40;
}
.user-bar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 70%;
    height: 120px;
    padding: 20px;
    margin-top: -60px;
    margin-bottom: 85px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    line-height: 1px;
    margin-left: 200px;
}
.user-bar h1 {
    text-align: center;
    font-size: 3rem;
    margin: 30px;
}
.user-bar span {
    text-align: center;
    font-size: 12px;
    margin: 39px;
}
